{# SAVE DIT BESTAND ZONDER TE FORMATTEN / BEAUTIFY #}
{# CTRL + K > CTRL + SHIFT + S #}
{% extends 'base.html.twig' %}
	{% block title %}
Photos
{% endblock %}
	{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="css/photos.css"> {% endblock %}
{% block body %}
	<section id="content-container">
		<div class="container bg-white shadow p-lg-4 p-md-3 p-sm-2">
			<div class="row">
				<div class="col-lg-2">
					<h4 class="py-2">Filter opties</h4>
					<div class="categorie-filter">
						<form method="get" action="/catalog">
							<div class="form-check">
								<input class="form-check-input" name="checkbox[]" type="checkbox" value="" id="">
								<label class="form-check-label" for="">Label
								</label>
							</div>
						</form>
					</div>
					<div class="leeftijd-filter py-3">
						<div>
							<h5 class="border-bottom pt-2">Leeftijd opties</h5>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
							<label class="form-check-label" for="defaultCheck7">
								21+ content
							</label>
						</div>
					</div>
				</div>
				<div class="col-lg-10">
					<div class="row">
						<div class="col-md-3">
							<h2>Foto's</h2>
						</div>
						<div class="col-md-9 text-left text-md-right pb-3">
							<form action="/photos/new">
								<a class="btn text-white main-color">Upload</a>
							</form>
						</div>
						{% for fotos in foto %}
							<div class="col-lg-4 p-2">
								<div class="hovereffect">
									<a href="{{ path('actual_photo', {id: fotos.id, slug: fotos.titel})|lower }}">
										<img class="img-responsive" src="{{ asset('img/uploaded/' ~ fotos.fileurl) }}">
										<div class="overlay">
											<h2>{{ fotos.titel }}</h2>
										</div>
									</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
