{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="margin-bottom: 75px;">
    <h1 style="margin-bottom: 15px;">Fotoboek</h1>
    <div class="row" style="margin-bottom: 75px;">
        <div class="col-sm-6 col-xs-12 col-lg-4" style="margin-bottom: 25px;">
            <img src="http://placehold.it/290x250" alt="">
        </div>
        <div class="col-sm-6 col-xs-12 col-lg-4" style="margin-bottom: 25px;">
            <img src="http://placehold.it/290x250" alt="">

        </div>
        <div class="col-sm-6 col-xs-12 col-lg-4" style="margin-bottom: 25px;">
            <img src="http://placehold.it/290x250" alt="">
        </div>

        <div class="col-sm-6 col-xs-12 col-lg-4" style="margin-bottom: 25px;">
            <img src="http://placehold.it/290x250" alt="">
        </div>
        <div class="col-sm-6 col-xs-12 col-lg-4" style="margin-bottom: 25px;">
            <img src="http://placehold.it/290x250" alt="">
        </div>
        <div class="col-sm-6 col-xs-12 col-lg-4" style="margin-bottom: 25px;">
            <img src="http://placehold.it/290x250" alt="">
        </div>

    </div>
    </div>



{% endblock %}